.ion-page {
  padding: 2rem;
  color: #eaf6fb;
}
h2 {
  color: #3a7ca5;
  margin-bottom: 1.5rem;
}
ul {
  list-style: none;
  padding: 0;
}
li {
  background: #23395d;
  margin-bottom: 1rem;
  padding: 1rem;
  border-radius: 8px;
}