<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" [routerLink]="['/inicio']">
        <ion-icon slot="icon-only" name="arrow-back-outline" style="color: #b266ff;"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-center">Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="login-container">
    <ion-list>
      <ion-item>
        <ion-label position="floating">Correo electrónico</ion-label>
        <ion-input type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>
    <ion-button expand="block" class="login-btn" (click)="entrar()">Entrar</ion-button>
  </div>
</ion-content>